.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3em;
    color: #4285f4;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #4285f4;
    box-shadow: 0 2px 2px rgba(66, 133, 244, 0.2);
}

button {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3367d6;
}

.clear-button {
    background-color: #f0f0f0;
    color: #777;
    border: 1px solid #d3d3d3;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.clear-button:hover {
    background-color: #e0e0e0;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.container-result {
    margin-top: 1em;
    width: 300px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}
